<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  
  
  <div class="d-flex justify-content-start">
    <ul class="navbar-nav mr-auto">
      
      
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin']"
                  *ngIf="authService.roleMach(['ROLE_ADMIN'])">
                  Admin Dash
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user"
           *ngIf="authService.roleMach(['ROLE_USER'])">
          User Dash</a>
      </li>
    </ul>
  </div>
   

  <div class="d-flex justify-content-end">
    <button *ngIf="!isLogin()" class="btn btn-success"   [routerLink]="['/login']">Login</button>
    <button *ngIf="isLogin()" class="btn btn-danger" (click)="logout()">Logout</button>
    </div>

</nav>